body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: auto;
}

.playlist {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.itemcancion {
    max-width: 150px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.itemcancion:hover {
    transform: scale(1.05);
    background-color: antiquewhite;
}

.itemcancion img {
    width: 100%;
    border-radius: 6px;
}

.info-cancion {
    margin-top: 20px;
}

.info-cancion img {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}